
<%= render 'devise/shared/error_messages', resource: resource, for_reset_password: false %>

<%= form_tag(resend_confirmation_instructions_path, method: "post") do %>
  <h2><%= t('views.candidates.confirm_account.resend.page') %>></h2>
  <%= label_tag(:email, t('views.candidates.confirm_account.resend.label')) %>
  <%= email_field_tag(:email, nil, placeholder: t('views.candidates.confirm_account.resend.place_holder')) %>
  <div><%= submit_tag(t('views.candidates.confirm_account.resend.submit')) %></div>
<% end %>