<tr id="admin-<%= admin.id %>">
  <td><%= admin.name %></td>
  <td><%= link_to t('views.common.delete'),
                  registration_path(:admin),
                  data: { confirm: t('views.common.are_you_sure') },
                  method: :delete,
                  id: "delete-#{admin.id}" %></td>
  <td><%= link_to admin.name,
                  edit_admin_path(admin),
                  id: "edit-#{admin.id}", title: I18n.t('views.nav.edit') %></td>
  <td id="account_name-<%= admin.id %>"><%= admin.account_name %></td>
  <td id="contact_name-<%= admin.id %>"><%= admin.contact_name %></td>
  <td id="contact_phone-<%= admin.id %>"><%= admin.contact_phone %></td>
  <td id="email-<%= admin.id %>"><%= admin.email %></td>
</tr>
