<h2><%= I18n.t('views.admins.heading.edit') %></h2>

<%= form_for(@resource, as: 'admin', url: admin_path(@resource), html: { method: :put }) do |f| %>

  <%= render 'devise/shared/error_messages', resource: @resource, for_reset_password: false %>

  <div class="field">
    <%= f.label :account_name %><br/>
    <%= f.text_field :account_name, disabled: true %>
  </div>
  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name, disabled: true %>
  </div>

  <%= field_set_tag t('field_set.admin.contact'), class: 'fieldset' do %>

    <div class="field">
      <%= f.label :contact_name %><br/>
      <%= f.text_field :contact_name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :contact_phone %><br/>
      <%= f.text_field :contact_phone, autofocus: false %>
    </div>

    <div class="field">
      <%= f.label :email %><br/>
      <%= f.email_field :email, autofocus: false %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit t('views.common.update'), id: 'update' %>
  </div>
<% end %>
