<h2 >Email Candidate</h2 >

<%= form_tag(email_candidate_update_path(@candidate), {method: :post}) do %>
    <div class = "actions" >
      <%= submit_tag t('views.common.email'), id: 'top-update' %>
    </div >

    <p>To: <%= @candidate.candidate_sheet.candidate_email %>, <%= @candidate.candidate_sheet.parent_email_1 %>, <%= @candidate.candidate_sheet.parent_email_2 %></p>
    <br />
    <p>From: confirmation@kristoffs.com</p> <br />
    <p>Subject: Confirmation</p> <br />


    <%= render partial: 'shared/reminder_body',
               :locals => {
                   # mailing to single candidate is happening if true
                   # editing a single candidate message if false
                   render_mail_text: false
               } %>

    <div class = "actions" >
      <%= submit_tag t('views.common.email'), id: 'bottom-update' %>
    </div >
<% end %>
