<h2><%= t('views.admins.events') %></h2>


<% @confirmation_events.each_with_index do |confirmation_event, index| %>

    <%= form_for(confirmation_event, as: :confirmation_event, url: events_path(confirmation_event.id), html: {method: :put}) do |f| %>


        <%= field_set_tag t('views.admins.event'), class: 'fieldset' do %>

            <div class="field">
              <%= f.label :name %><br/>
              <%= f.text_field :name, class: 'extra-wide-field' %>
            </div>

            <div class="field">
              <%= f.label :the_way_due_date %><br/>
              <%= f.date_field :the_way_due_date %>
            </div>

            <div class="field">
              <%= f.label :chs_due_date %><br/>
              <%= f.date_field :chs_due_date %>
            </div>

            <div class="field">
              <%= f.label :instructions %><br/>
              <%= f.text_area :instructions, :class => "tinymce", :rows => 20, :cols => 120 %>
            </div>

            <div class="actions">
              <%= f.submit t('views.common.update') %>
            </div>

        <% end %>
    <% end %>
<% end %>


<%= tinymce %>