<%= form_tag mass_edit_candidates_event_update_path(@confirmation_event.id), method: :put do %>

    <%= submit_tag t('views.common.update'), id: 'top-update' %>

    <h2><%= @confirmation_event.name %></h2>

    <%= label_tag(:verified, t('views.events.verified')) %>:
    <%= check_box_tag(:verified, 1, params[:verified]) %><br/>

    <%= label_tag(:completed_date, t('views.events.completed_date')) %>:
    <%= date_field_tag(:completed_date, params[:completed_date]) %>

    <%= render partial: 'shared/sorting_candidate_selection',
               :locals => {
                   confirmation_event: @confirmation_event,
                   candidates: @candidates,
                   route: :mass_edit_candidates_event,
               } %>

    <%= submit_tag t('views.common.update'), id: 'bottom-update' %>

<% end %>
