<article>
  <section id="home_parish">
    <h2><%= t('views.nav.users') %></h2>

    <%= form_for @visitor, url: update_visitor_path(@visitor.id), method: :post do |f| %>
      <%= f.submit t('views.common.update_home_parish'), id: "top-update-home-parish" %>
      <br/>
      <%= f.label :home_parish %>
      <%= f.text_field :home_parish %>
      <br/>
      <%= f.fields_for :home_parish_address do |home_parish_address_fields| %>
        <div class="field">
          <%= home_parish_address_fields.label :street_1 %>
          <br/>
          <%= home_parish_address_fields.text_field(:street_1, autocomplete: 'address-line1') %>
        </div>
        <div class="field">
          <%= home_parish_address_fields.label :street_2 %>
          <br/>
          <%= home_parish_address_fields.text_field :street_2, autocomplete: 'address-line2' %>
        </div>
        <div class="field">
          <%= home_parish_address_fields.label :city %>
           <br/>
          <%= home_parish_address_fields.text_field :city, autocomplete: 'address-level2' %>
        </div>
        <div class="field">
          <%= home_parish_address_fields.label :state %>
          <br/>
          <%= home_parish_address_fields.text_field :state, autocomplete: 'address-level1' %>
        </div>
        <div class="field">
          <%= home_parish_address_fields.label :zip_code %>
          <br/>
          <%= home_parish_address_fields.text_field :zip_code, autocomplete: 'postal-code' %>
        </div>
      <% end %>

      <%= f.submit t('views.common.update_home_parish'), id: "bottom-update-home-parish" %>
    <% end %>
  </section>

  <section id="home">
    <%= form_for @visitor, url: update_visitor_path(@visitor.id), method: :post do |f| %>
      <%= f.submit t('views.common.update_home'), id: "top-update-home" %>
      <br/>
      <%= f.label(:home) %>
      <%= f.text_area :home, class: "tinymce_home", rows: 20, cols: 120 %>

      <%= f.submit t('views.common.update_home'), id: "bottom-update-home" %>
    <% end %>

  </section>

  <section id="about">
    <%= form_for @visitor, url: update_visitor_path(@visitor.id), method: :post do |f| %>
      <%= f.submit t('views.common.update_about'), id: "top-update-about" %>
      <br/>
      <%= f.label(:about) %>
      <%= f.text_area :about, class: "tinymce_about", rows: 20, cols: 120 %>

      <%= f.submit t('views.common.update_about'), id: "bottom-update-about" %>
    <% end %>
  </section>

  <section id="contact">
    <%= form_for @visitor, url: update_visitor_path(@visitor.id), method: :post do |f| %>
      <%= f.submit t('views.common.update_contact'), id: "top-update-contact" %>
      <br/>
      <%= f.label(:contact) %>
      <%= f.text_area :contact, class: "tinymce_contact", rows: 20, cols: 120 %>

      <%= f.submit t('views.common.update_contact'), id: "bottom-update-contact" %>
    <% end %>
  </section>
</article>

<script type="text/javascript">
    var toolbar = ["insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"];
    var plugins = "advlist,autolink,lists,link,image,charmap,preview,anchor,searchreplace,visualblocks,code,fullscreen,insertdatetime,media,table,contextmenu,paste,code"
    tinyMCE.init({
        selector: "textarea.tinymce_home",
        toolbar:  toolbar,
        plugins:  plugins

    });
    tinyMCE.init({
        selector: "textarea.tinymce_about",
        toolbar:  toolbar,
        plugins:  plugins
    });
    tinyMCE.init({
        selector: "textarea.tinymce_contact",
        toolbar:  toolbar,
        plugins:  plugins
    });
</script>
