<h3><%= t('views.admins.admin') %></h3>
<p><%= t('views.common.name') %>: <%= @admin.name if @admin.name %></p>
<p><%= t('views.admins.email') %>: <%= @admin.email if @admin.email %></p>
<p><%= t('label.admin.contact_name') %>: <%= @admin.contact_name if @admin.contact_name %></p>
<p><%= t('label.admin.contact_phone') %>: <%= @admin.contact_phone if @admin.contact_phone %></p>
