<section id="home">
  <h2><%= t('views.nav.visitors') %></h2>

  <%= form_for @visitor, url: update_visitor_path(@visitor.id), method: :post do |f| %>
    <%= f.submit t('views.common.update_home'), id: "top-update-home" %>
    <br/>
    <%= f.label(:home, t('label.visitor.home')) %>
    <%= f.text_area :home, class: "tinymce_home", rows: 20, cols: 120 %>

    <%= f.submit t('views.common.update_home'), id: "bottom-update-home" %>
  <% end %>

</section>

<section id="about">
  <%= form_for @visitor, url: update_visitor_path(@visitor.id), method: :post do |f| %>
    <%= f.submit t('views.common.update_about'), id: "top-update-about" %>
    <br/>
    <%= f.label(:about, t('label.visitor.about')) %>
    <%= f.text_area :about, class: "tinymce_about", rows: 20, cols: 120 %>

    <%= f.submit t('views.common.update_about'), id: "bottom-update-about" %>
  <% end %>
</section>

<section id="contact">
  <%= form_for @visitor, url: update_visitor_path(@visitor.id), method: :post do |f| %>
    <%= f.submit t('views.common.update_information_contact'), id: "top-update-contact" %>
    <br/>
    <%= f.label(:contact, t('label.visitor.contact_information')) %>
    <%= f.text_area :contact, class: "tinymce_contact", rows: 20, cols: 120 %>

    <%= f.submit t('views.common.update_information_contact'), id: "bottom-update-contact" %>
  <% end %>
</section>


<script type="text/javascript">
    var toolbar = ["insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"];
    var plugins = "advlist,autolink,lists,link,image,charmap,preview,anchor,searchreplace,visualblocks,code,fullscreen,insertdatetime,media,table,contextmenu,paste,code"
    tinyMCE.init({
        selector: "textarea.tinymce_home",
        toolbar:  toolbar,
        plugins:  plugins

    });
    tinyMCE.init({
        selector: "textarea.tinymce_about",
        toolbar:  toolbar,
        plugins:  plugins
    });
    tinyMCE.init({
        selector: "textarea.tinymce_contact",
        toolbar:  toolbar,
        plugins:  plugins
    });
</script>