
<div class="container">
  <div class="row">
    <h3><%= I18n.t('activerecord.models.status') %></h3>
    <div class="column">
      <table class="table" id="statuses_table">
        <thead>
        <tr>
          <th id='name'><%= 'Name' %></th>
          <th id='delete'><%= I18n.t('views.admins.heading.delete') %></th>
          <th><%= I18n.t('views.statuses.heading.edit') %></th>
          <th><%= I18n.t('activerecord.attributes.status.description') %></th>
        </tr>
        </thead>
        <tbody>
        <% @statuses.each do |status| %>
          <tr>
            <td><%= status.name %></td>
            <td><%= link_to I18n.t('views.common.delete'), status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <td><%= link_to I18n.t('views.statuses.heading.edit'), edit_status_path(status) %></td>
            <td><%= status.description %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <%= link_to 'Create Status', new_status_path, id: "create-status" %>
    </div>
  </div>
</div>
