<%= form_with(model: @status) do |form| %>

  <h2 id='header'><%= I18n.t('views.statuses.heading.show') %></h2>

<div class="field">
  <%= form.label :name %>
  <%= form.text_field :name, disabled: true %>
</div>

<div class="field">
  <%= form.label :description %>
  <%= form.text_area :description, disabled: true %>
</div>
  <%= link_to 'Edit', edit_status_path(@status) %> |
  <%= link_to 'Back', statuses_path %>
<% end %>
