<div class="authform">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post, role: 'form'}) do |f| %>
      <h3>Forgot your password?</h3>
      <p>We'll send password reset instructions.</p>
      <%= devise_error_messages! %>
      <div class="form-group">


        <% if resource_name == :admin %>
            <%= f.label :email %>
            <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
        <% else
             if resource_name == :candidate %>
                <%= f.label :account_name %>
                <%= f.text_field :account_name, :autofocus => true, class: 'form-control' %>
            <% else %>
                <h1>NOT AN ADMIN OR CANDIDITE WHO ARE YOU</h1>
                <h1><%= resource_name %></h1>
            <% end %>
        <% end %>

      </div>
      <%= f.submit I18n.t('views.common.reset_password'), :class => 'button right' %>
  <% end %>
</div>
