<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <h2><%= t('views.nav.edit') %> <%= resource_name.to_s.humanize %></h2>
  <%= render 'devise/shared/error_messages', resource: resource, for_reset_password: false %>

  <%= field_set_tag t('field_set.admin.contact'), class: 'fieldset' do %>

    <div class="field">
      <%= f.label :contact_name %><br/>
      <%= f.text_field :contact_name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :email %><br/>
      <%= f.email_field :email, autofocus: false %>
    </div>

    <div class="field">
      <%= f.label :contact_phone %><br/>
      <%= f.text_field :contact_phone, autofocus: false %>
    </div>
  <% end %>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div> <%= t('devise.failure.unconfirmed', unconfirmed: resource.unconfirmed_email) %></div>
  <% end %>

  <%= field_set_tag t('field_set.admin.change_password'), class: 'fieldset' do %>
    <div class="field">
      <%= f.label :password %> <i>(<%= t('messages.password.leave_blank') %>t)</i><br/>
      <%= f.password_field :password, autocomplete: 'off' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br/>
      <%= f.password_field :password_confirmation, autocomplete: 'off' %>
    </div>

    <div class="field">
      <%= f.label :current_password %> (<i><%= t('messages.password.confirm_changes') %></i>)<br/>
      <%= f.password_field :current_password, autocomplete: 'off' %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit t('views.common.update'), id: 'update' %>
  </div>
<% end %>
