<article>
  <section id="check_missing_events">

    <%= render 'candidates/shared/show_error_message',
               event_association: local_assigns[:error_msgs] ? error_msgs : @candidate
    %>

    <h2><%= t('views.missing_events.check') %></h2>

    <%= form_for(@missing_events, url: missing_events_check_path, method: :get) do |f| %>
      <div id="div_missing_confirmation_events">
        <%= f.hidden_field :missing, :value => @missing_events.missing_confirmation_events.join(":") %>
        <h3><%= t('views.missing_events.missing') %>:</h3>
        <ul id="missing_confirmation_events">
          <% @missing_events.missing_confirmation_events.map do |event_key| %>
            <li><%= Candidate.i18n_event_name(event_key) %></li>
          <% end %>
        </ul>
      </div>

      <div id="div_unknown_confirmation_events">
        <%= f.hidden_field :unknown, :value => @missing_events.unknown_confirmation_events.join(":") %>
        <h3><%= t('views.missing_events.unknown') %>:</h3>
        <ul id="unknown_confirmation_events">
          <% @missing_events.unknown_confirmation_events.map do |confirmation_event_key| %>
            <li><%= confirmation_event_key %></li>
          <% end %>
        </ul>
      </div>

      <div id="div_found_confirmation_events">
        <%= f.hidden_field :found, :value => @missing_events.found_confirmation_events.join(":") %>
        <h3><%= t('views.imports.found') %>:</h3>
        <ul id="found_confirmation_events">
          <% @missing_events.found_confirmation_events.map do |confirmation_event_key| %>
            <li><%= Candidate.i18n_event_name(confirmation_event_key) %></li>
          <% end %>
        </ul>
      </div>
      <div class="buttons"><%= f.submit t('views.missing_events.check') %></div>
      <div class="buttons"><%= f.submit t('views.missing_events.add_missing') %></div>
    <% end %>
  </section>
</article>