<%= render 'shared/attach_file_to_email' %>

<% [@subject, @pre_late_input, @pre_coming_due_input, @completed_awaiting_input,
    @completed_input, @closing_input, @salutation_input, @from_input].each do |mail_part| %>
  <fieldset class="fieldset">
    <legend>
      <input type="checkbox"
             name="<%= mail_part.checkbox_name %>"
             id="<%= mail_part.checkbox_name %>"
             value="<%= mail_part.checkbox_value %>"
             <%= mail_part.checkbox_checked %>
             onclick="confirmation_toggle().toggle_top('#<%= mail_part.section_id %>', 'toggle')"/>
      <%= label_tag(mail_part.text_area_name, t("#{mail_part.i18n_label}")) %>:

    </legend>
    <div id="<%= mail_part.section_id %>" class="<%= mail_part.section_class %>">
      <%= text_area_tag(mail_part.text_area_name, mail_part.text) %>
    </div>
  </fieldset>
<% end %>
