<% render_mail_text = local_assigns[:render_mail_text] %>

<% if render_mail_text %>
    <p><%= @candidate_mailer_text.candidate.candidate_sheet.first_name %>,</p>
<% else %>
    <%= label_tag('mail[subject]', t('email.subject_label')) %>:
    <%= text_area_tag('mail[subject]', @subject) %> <br/>
<% end %>

<% if render_mail_text %>
    <p id="past_due_text" style="white-space: pre-line;"><%= @candidate_mailer_text.pre_late_text %></p>
<% else %>
    <%= label_tag('mail[pre_late_input]', t('email.pre_late_text_label')) %>:
    <%= text_area_tag('mail[pre_late_input]', @pre_late_input) %> <br/>
<% end %>

<% if render_mail_text %>
    <%= render partial: 'shared/reminder_table',
               locals: {event_key: 'past_due',
                           headers: [],
                           field_set_header: t('email.past_due'),
                           events: @candidate_mailer_text.late_events,
                           past_due: Proc.new {|candidate_event| nil}
               } %>
<% end %>

<% if render_mail_text %>
    <p id="coming_due_events_text" style="white-space: pre-line;"><%= @candidate_mailer_text.pre_coming_due_text %></p>
<% else %>
    <%= label_tag('mail[pre_coming_due_input]', t('email.pre_coming_due_text_label')) %>:
    <%= text_area_tag('mail[pre_coming_due_input]', @pre_coming_due_input) %> <br/>
<% end %>

<% if render_mail_text %>
    <%= render partial: 'shared/reminder_table',
               locals: {event_key: 'coming_due_events',
                           headers: [t('email.events'), t('email.due_date')],
                           field_set_header: t('email.coming_due_label'),
                           events: @candidate_mailer_text.coming_due_events,
                           past_due: Proc.new {|candidate_event| candidate_event.due_date}
               } %>
<% end %>

<% if render_mail_text %>
    <p id="completed_awaiting_events_text" style="white-space: pre-line;"><%= @candidate_mailer_text.completed_awaiting_text %></p>
<% else %>
    <%= label_tag('mail[completed_awaiting_input]', t('email.completed_awaiting_text_label')) %>:
    <%= text_area_tag('mail[completed_awaiting_input]', @completed_awaiting_input) %> <br/>
<% end %>

<% if render_mail_text %>
    <%= render partial: 'shared/completed_reminder_table',
               locals: {event_key: 'completed_awaiting_events',
                           field_set_header: t('email.completed_awaiting_approval_label'),
                           events: @candidate_mailer_text.completed_awaiting_events,
               } %>

<% end %>


<% if render_mail_text %>
    <p id="completed_events_text" style="white-space: pre-line;"><%= @candidate_mailer_text.completed_text %></p>
<% else %>
    <%= label_tag('mail[completed_input]', t('email.completed_text_label')) %>:
    <%= text_area_tag('mail[completed_input]', @completed_input) %> <br/>
<% end %>
<% if render_mail_text %>
    <%= render partial: 'shared/completed_reminder_table',
               locals: {event_key: 'completed_events',
                           field_set_header: t('email.completed_text_label'),
                           events: @candidate_mailer_text.completed_events,
               } %>
<% end %>

<% if render_mail_text %>
    <p id="closing_text" style="white-space: pre-line;"><%= @candidate_mailer_text.closing_text %></p>
<% else %>
    <%= label_tag('mail[closing_text]', t('email.closing_text_label')) %>:
    <%= text_area_tag('mail[closing_text]', @closing_text) %> <br/>
<% end %>

<% if render_mail_text %>
    <p id="salutation_text" style="white-space: pre-line;"><%= @candidate_mailer_text.salutation_text %></p>
<% else %>
    <%= label_tag('mail[salutation_text]', t('email.salutation_text_label')) %>:
    <%= text_area_tag('mail[salutation_text]', @salutation_text) %> <br/>
<% end %>

<% if render_mail_text %>
    <p id="from_text" style="white-space: pre-line;"><%= @candidate_mailer_text.from_text %></p>
<% else %>
    <%= label_tag('mail[from_text]', t('email.from_text_label')) %>:
    <%= text_area_tag('mail[from_text]', @from_text) %> <br/>
<% end %>
