<% require 'constants' %>

<% #Parameter confirmation_event %>
<% confirmation_event = nil if local_assigns[:confirmation_event].nil? %>
<% #Parameter route %>
<% routes = nil if local_assigns[:routes].nil? %>
<% #Parameter other_columns %>
<% other_columns = nil if local_assigns[:other_columns].nil? %>
<% #Parameter selected_candidate_ids %>
<% selected_candidate_ids = [] if local_assigns[:selected_candidate_ids].nil? %>

<% show_password_changed = route && route === :candidates %>
<% show_account_confirmed = route && route === :candidates %>
<% column_headers_in_order = [] %>
<% if other_columns %>
  <% other_columns[:headers].each do |i18n_header| %>
    <% column_headers_in_order.push(i18n_header) %>
  <% end %>
<% end %>
<% if confirmation_event %>
  <% column_headers_in_order.push(t('views.events.completed_date')) %>
  <% column_headers_in_order.push(t('views.events.verified')) %>
<% end %>

<% column_headers_in_order.push(t('label.candidate_sheet.last_name')) %>
<% column_headers_in_order.push(t('label.candidate_sheet.first_name')) %>
<% column_headers_in_order.push(t('label.candidate_sheet.attending')) %>

<% if confirmation_event %>
  <% column_headers_in_order.push(confirmation_event.name) %>
<% else %>
  <% column_headers_in_order.insert(column_headers_in_order.index(t('label.candidate_sheet.attending')), t('label.candidate_sheet.grade')) %>
  <% column_headers_in_order.push(I18n.t('events.candidate_covenant_agreement')) %>
  <% column_headers_in_order.push(I18n.t('events.candidate_information_sheet')) %>
  <% column_headers_in_order.push(I18n.t('events.baptismal_certificate')) %>
  <% column_headers_in_order.push(I18n.t('events.sponsor_covenant')) %>
  <% column_headers_in_order.push(I18n.t('events.confirmation_name')) %>
  <% column_headers_in_order.push(I18n.t('events.sponsor_agreement')) %>
  <% column_headers_in_order.push(I18n.t('events.christian_ministry')) %>
  <% column_headers_in_order.push(I18n.t('events.retreat_verification')) %>
  <% column_headers_in_order.push(I18n.t('events.parent_meeting')) %>
<% end %>

<% if show_account_confirmed %>
  <% column_headers_in_order.push(t('views.candidates.account_confirmed')) %>
<% end %>
<% if show_password_changed %>
  <% column_headers_in_order.push(t('views.candidates.password_changed')) %>
<% end %>

<div class="container">
  <label for="total_selected">Total Selected:</label>
  <input type="text" readonly="true" id="total_selected" value="0"/>
  <table id="candidate_list_table" class="tablesorter">
    <thead>
    <tr id="candidate_list_header">
      <th id="candidate_list_header_th_1" class="sorter-false filter-false select_column_header">
        <a onclick="select_all_none('select_all_none_input');" href="#"><input type="checkbox" id="select_all_none_input"></a>
      </th>
      <% column_headers_in_order.each_with_index do |sort_header, index| %>
        <% if column_headers_in_order[index] === t('views.nav.edit') %>
          <th id="candidate_list_header_th_<%= index + 2 %>" class="sorter-false filter-false edit_column_header"><%= column_headers_in_order[index] %></th>
        <% else %>
          <th id="candidate_list_header_th_<%= index + 2 %>"><%= column_headers_in_order[index] %></th>
        <% end %>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <%= collection_check_boxes(:candidate, :candidate_ids, candidate_info, :id, :account_name, checked: selected_candidate_ids) do |b| %>
      <% candidate_info = b.object %>
      <% candidate_id = candidate_info.id %>
      <% confirmed = candidate_info.confirmed? %>
      <% password_changed = candidate_info.password_changed %>
      <% last_name = candidate_info.last_name %>
      <% first_name = candidate_info.first_name %>
      <% grade = candidate_info.grade %>
      <% attending = candidate_info.attending %>
      <tr id="candidate_list_tr_<%= candidate_id %>">
        <% td_index = 0 %>
        <td id="tr<%= candidate_id %>_td<%= td_index %>" onclick="update_total_selections()"><%= b.check_box %></td>
        <% td_index += 1 %>
        <% if other_columns %>
          <% other_columns[:rows].each do |cell_gen| %>
            <td id="tr<%= candidate_id %>_td<%= td_index %>"><%= cell_gen.call(candidate_id) %></td>
            <% td_index += 1 %>
          <% end %>
        <% end %>
        <% if confirmation_event %>
          <td id="tr<%= candidate_id %>_td<%= td_index %>"><%= candidate_info.completed_date %></td>
          <% td_index += 1 %>
          <td id="tr<%= candidate_id %>_td<%= td_index %>"><%= candidate_info.verified %></td>
          <% td_index += 1 %>
        <% end %>
        <td id="tr<%= candidate_id %>_td<%= td_index + 0 %>">
          <% # make last name bold if candidate has confirmed account. %>
          <% if confirmed %>
            <b>
          <% end %>
          <%= last_name %>
          <% if confirmed %>
            </b>
          <% end %>
        </td>
        <td id="tr<%= candidate_id %>_td<%= td_index += 1 %>"><%= first_name %></td>
        <% if confirmation_event %>
          <td id="tr<%= candidate_id %>_td<%= td_index += 1 %>"><%= attending %></td>
          <% case confirmation_event.name %>
          <% when t('events.candidate_covenant_agreement') %>
            <td id="tr<%= candidate_id %>_td<%= td_index += 1 %>"><%= link_to "#{candidate_info.status(candidate_id, t('events.candidate_covenant_agreement'), attending)}", sign_agreement_verify_path(candidate_id) %></td>
          <% when t('events.candidate_information_sheet') %>
            <td id="tr<%= candidate_id %>_td<%= td_index += 1 %>"><%= link_to "#{candidate_info.status(candidate_id, t('events.candidate_information_sheet'), attending)}", candidate_sheet_verify_path(candidate_id) %></td>
          <% when t('events.baptismal_certificate') %>
            <td id="tr<%= candidate_id %>_td<%= td_index += 1 %>"><%= link_to "#{candidate_info.status(candidate_id, t('events.baptismal_certificate'), attending)}", event_with_picture_verify_path(candidate_id, Event::Route::BAPTISMAL_CERTIFICATE) %></td>
          <% when t('events.sponsor_covenant') %>
            <td id="tr<%= candidate_id %>_td<%= td_index += 1 %>"><%= link_to "#{candidate_info.status(candidate_id, t('events.sponsor_covenant'), attending)}", event_with_picture_verify_path(candidate_id, Event::Route::SPONSOR_COVENANT) %></td>
          <% when t('events.confirmation_name') %>
            <td id="tr<%= candidate_id %>_td<%= td_index += 1 %>"><%= link_to "#{candidate_info.status(candidate_id, t('events.confirmation_name'), attending)}", pick_confirmation_name_verify_path(candidate_id), id: "pick-#{candidate_id}" %></td>
          <% when t('events.sponsor_agreement') %>
            <td id="tr<%= candidate_id %>_td<%= td_index += 1 %>"><%= link_to "#{candidate_info.status(candidate_id, t('events.sponsor_agreement'), attending)}", sponsor_agreement_verify_path(candidate_id) %></td>
          <% when t('events.christian_ministry') %>
            <td id="tr<%= candidate_id %>_td<%= td_index += 1 %>"><%= link_to "#{candidate_info.status(candidate_id, t('events.christian_ministry'), attending)}", christian_ministry_verify_path(candidate_id), id: "cma-#{candidate_id}" %></td>
          <% when t('events.retreat_verification') %>
            <td id="tr<%= candidate_id %>_td<%= td_index += 1 %>"><%= link_to "#{candidate_info.status(candidate_id, t('events.retreat_verification'), attending)}", event_with_picture_verify_path(candidate_id, Event::Route::RETREAT_VERIFICATION) %></td>
          <% when t('events.parent_meeting') %>
            <td id="tr<%= candidate_id %>_td<%= td_index += 1 %>"><%= link_to "#{candidate_info.status(candidate_id, t('events.parent_meeting'), attending)}", event_candidate_path(candidate_id, anchor: "event_id_#{candidate_info.conf_event_id(candidate_id, t('events.parent_meeting'))}") %></td>
          <% else %>
            'unknown'
          <% end %>
        <% else %>
          <td id="tr<%= candidate_id %>_td<%= td_index += 1 %>"><%= grade %></td>
          <td id="tr<%= candidate_id %>_td<%= td_index += 1 %>"><%= attending %></td>
          <td id="tr<%= candidate_id %>_td<%= td_index += 1 %>"><%= link_to "#{candidate_info.status(candidate_id, t('events.candidate_covenant_agreement'), attending)}", sign_agreement_path(candidate_id) %></td>
          <td id="tr<%= candidate_id %>_td<%= td_index += 1 %>"><%= link_to "#{candidate_info.status(candidate_id, t('events.candidate_information_sheet'), attending)}", candidate_sheet_path(candidate_id) %></td>
          <td id="tr<%= candidate_id %>_td<%= td_index += 1 %>"><%= link_to "#{candidate_info.status(candidate_id, t('events.baptismal_certificate'), attending)}", event_with_picture_path(candidate_id, Event::Route::BAPTISMAL_CERTIFICATE) %></td>
          <td id="tr<%= candidate_id %>_td<%= td_index += 1 %>"><%= link_to "#{candidate_info.status(candidate_id, t('events.sponsor_covenant'), attending)}", event_with_picture_path(candidate_id, Event::Route::SPONSOR_COVENANT) %></td>
          <td id="tr<%= candidate_id %>_td<%= td_index += 1 %>"><%= link_to "#{candidate_info.status(candidate_id, t('events.confirmation_name'), attending)}", pick_confirmation_name_path(candidate_id) %></td>
          <td id="tr<%= candidate_id %>_td<%= td_index += 1 %>"><%= link_to "#{candidate_info.status(candidate_id, t('events.sponsor_agreement'), attending)}", sponsor_agreement_path(candidate_id) %></td>
          <td id="tr<%= candidate_id %>_td<%= td_index += 1 %>"><%= link_to "#{candidate_info.status(candidate_id, t('events.christian_ministry'), attending)}", christian_ministry_path(candidate_id) %></td>
          <td id="tr<%= candidate_id %>_td<%= td_index += 1 %>"><%= link_to "#{candidate_info.status(candidate_id, t('events.retreat_verification'), attending)}", event_with_picture_path(candidate_id, Event::Route::RETREAT_VERIFICATION) %></td>
          <td id="tr<%= candidate_id %>_td<%= td_index += 1 %>"><%= link_to "#{candidate_info.status(candidate_id, t('events.parent_meeting'), attending)}", event_candidate_path(candidate_id, anchor: "event_id_#{candidate_info.conf_event_id(candidate_id, t('events.parent_meeting'))}") %></td>
        <% end %>
        <% if show_account_confirmed %>
          <td id="tr<%= candidate_id %>_td<%= td_index += 1 %>"><%= confirmed %></td>
        <% end %>
        <% if show_password_changed %>
          <td id="tr<%= candidate_id %>_td<%= td_index += 1 %>"><%= password_changed %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>