<% #Parameter confirmation_event %>
<% confirmation_event = nil if local_assigns[:confirmation_event].nil? %>
<% #Parameter candidates %>
<% candidates = [] if local_assigns[:candidates].nil? %>
<% #Parameter route %>
<% routes = nil if local_assigns[:routes].nil? %>
<% #Parameter other_columns %>
<% other_columns = nil if local_assigns[:other_columns].nil? %>
<% #Parameter selected_candidate_ids %>
<% selected_candidate_ids = [] if local_assigns[:selected_candidate_ids].nil? %>

<% if confirmation_event %>
    <% confirmation_event_id = confirmation_event.id %>
<% else %>
    <% confirmation_event_id = '' %>
<% end %>
<% column_headers_in_order = [] %>
<% if other_columns %>
    <% other_columns[:headers].each do |i18n_header| %>
        <% column_headers_in_order.push(i18n_header) %>
    <% end %>
<% end %>
<% if confirmation_event %>
    <% column_headers_in_order.push(t('views.events.completed_date')) %>
    <% column_headers_in_order.push(t('views.events.verified')) %>
<% end %>
<% column_headers_in_order.push(t('label.candidate_sheet.last_name')) %>
<% column_headers_in_order.push(t('label.candidate_sheet.first_name')) %>
<% column_headers_in_order.push(t('label.candidate_sheet.grade')) %>
<% column_headers_in_order.push(t('label.candidate_sheet.attending')) %>
<% column_headers_in_order.push(I18n.t('events.candidate_covenant_agreement')) %>
<% column_headers_in_order.push(I18n.t('events.candidate_information_sheet')) %>
<% column_headers_in_order.push(I18n.t('events.baptismal_certificate')) %>
<% column_headers_in_order.push(I18n.t('events.sponsor_covenant')) %>
<% column_headers_in_order.push(I18n.t('events.confirmation_name')) %>
<% column_headers_in_order.push(I18n.t('events.sponsor_agreement')) %>
<% column_headers_in_order.push(I18n.t('events.christian_ministry')) %>
<% column_headers_in_order.push(I18n.t('events.retreat_verification')) %>
<% column_headers_in_order.push(I18n.t('events.parent_meeting')) %>

<div class="container">
  <label for="total_selected">Total Selected:</label> <input type="text" readonly="true" id="total_selected" value="0"></input>
  <table id="candidate_list_table" class="tablesorter">
    <thead>
    <tr id="candidate_list_header">
      <th id="candidate_list_header_th_1" class="sorter-false filter-false select_column_header">
        <a onclick="select_all_none('select_all_none_input');" href="#"><input type="checkbox" id="select_all_none_input"></a>
      </th>
      <% column_headers_in_order.each_with_index do |sort_header, index| %>
          <% if column_headers_in_order[index] === t('views.nav.edit')   %>
              <th id="candidate_list_header_th_<%= index+2 %>" class="sorter-false filter-false edit_column_header"><%= column_headers_in_order[index] %></th>
          <% else %>
              <th id="candidate_list_header_th_<%= index+2 %>"><%= column_headers_in_order[index] %></th>
          <% end %>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <%= collection_check_boxes(:candidate, :candidate_ids, candidates, :id, :account_name, checked: selected_candidate_ids) do |b| %>
        <tr id="candidate_list_tr_<%= b.object.id %>">
          <% td_index = 0 %>
          <td id="tr<%= b.object.id %>_td<%= td_index %>" onclick="update_total_selections()"><%= b.check_box %></td>
          <% td_index += 1 %>
          <% if other_columns %>

              <% other_columns[:rows].each do |cell_gen| %>
                  <td id="tr<%= b.object.id %>_td<%= td_index %>"><%= cell_gen.call(b.object) %></td>
                  <% td_index += 1 %>
              <% end %>
          <% end %>
          <% if confirmation_event %>
              <td id="tr<%= b.object.id %>_td<%= td_index %>"><%= b.object.get_candidate_event(confirmation_event.name).completed_date %></td>
              <% td_index += 1 %>
              <td id="tr<%= b.object.id %>_td<%= td_index %>"><%= b.object.get_candidate_event(confirmation_event.name).verified %></td>
              <% td_index += 1 %>
          <% end %>
          <td id="tr<%= b.object.id %>_td<%= td_index+0 %>"><%= b.object.candidate_sheet.last_name %></td>
          <td id="tr<%= b.object.id %>_td<%= td_index+1 %>"><%= b.object.candidate_sheet.first_name %></td>
          <td id="tr<%= b.object.id %>_td<%= td_index+2 %>"><%= b.object.candidate_sheet.grade %></td>
          <td id="tr<%= b.object.id %>_td<%= td_index+3 %>"><%= b.object.candidate_sheet.attending %></td>
          <td id="tr<%= b.object.id %>_td<%= td_index+4 %>"><%= link_to "#{b.object.get_candidate_event(t('events.candidate_covenant_agreement')).status}", sign_agreement_path(b.object.id) %></td>
          <td id="tr<%= b.object.id %>_td<%= td_index+5 %>"><%= link_to "#{b.object.get_candidate_event(t('events.candidate_information_sheet')).status}", candidate_sheet_path(b.object.id) %></td>
          <td id="tr<%= b.object.id %>_td<%= td_index+6 %>"><%= link_to "#{b.object.get_candidate_event(t('events.baptismal_certificate')).status}", event_with_picture_path(b.object.id, Event::Route::BAPTISMAL_CERTIFICATE) %></td>
          <td id="tr<%= b.object.id %>_td<%= td_index+7 %>"><%= link_to "#{b.object.get_candidate_event(t('events.sponsor_covenant')).status}", event_with_picture_path(b.object.id, Event::Route::SPONSOR_COVENANT) %></td>
          <td id="tr<%= b.object.id %>_td<%= td_index+8 %>"><%= link_to "#{b.object.get_candidate_event(t('events.confirmation_name')).status}", event_with_picture_path(b.object.id, Event::Route::CONFIRMATION_NAME) %></td>
          <td id="tr<%= b.object.id %>_td<%= td_index+9 %>"><%= link_to "#{b.object.get_candidate_event(t('events.sponsor_agreement')).status}", sponsor_agreement_path(b.object.id) %></td>
          <td id="tr<%= b.object.id %>_td<%= td_index+10 %>"><%= link_to "#{b.object.get_candidate_event(t('events.christian_ministry')).status}", event_with_picture_path(b.object.id, Event::Route::CHRISTIAN_MINISTRY) %></td>
          <td id="tr<%= b.object.id %>_td<%= td_index+11 %>"><%= link_to "#{b.object.get_candidate_event(t('events.retreat_verification')).status}", event_with_picture_path(b.object.id, Event::Route::RETREAT_VERIFICATION) %></td>
          <td id="tr<%= b.object.id %>_td<%= td_index+12 %>"><%= link_to "#{b.object.get_candidate_event(t('events.parent_meeting')).status}", event_candidate_path(b.object, anchor: "event_id_#{b.object.get_candidate_event(t('events.parent_meeting')).id}") %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>