<td><%= link_to t('views.common.delete'), event_candidate_path(candidate.id), data: {confirm: t('views.common.are_you_sure')}, method: :delete  %></td>
<td><%= link_to candidate.account_name, edit_candidate_path(candidate.id) %></td>
<td><%= candidate.first_name %></td>
<td><%= candidate.last_name %></td>
<td><%= candidate.attending %></td>
<td><%= candidate.grade %></td>
<td><%= candidate.candidate_email %></td>
<td><%= candidate.parent_email_1 %></td>
<td><%= candidate.parent_email_2 %></td>
