<%= form_for(resource, as: :candidate, url: update_candidate_path(resource), html: { method: :put }) do |f| %>
  <h2> <%= "#{t('views.common.status')} #{resource.account_name}" %></h2>

  <%= render 'devise/shared/error_messages', for_reset_password: false %>


  <%= f.fields_for :candidate_events, resource.candidate_events_sorted.to_a do |candidate_event_fields| %>
    <%= candidate_event_fields.fields_for :confirmation_event do |confirmation_event_fields| %>
      <% confirmation_event_id = confirmation_event_fields.object.id %>
      <% legend_object = if confirmation_event_fields.object.event_key === Candidate.parent_meeting_event_key %>
        <% Candidate.i18n_event_name(confirmation_event_fields.object.event_key) %>
      <% else %>
        <% path, i18n, event_key = candidate_event_to_path(confirmation_event_fields.object.event_key, candidate_event_fields.object.candidate.id) %>
        <% link_to "#{i18n}", path %>
      <% end %>
      <%= field_set_tag legend_object, class: "fieldset #{controller.event_class(candidate_event_fields.object)}", id: "event_id_#{confirmation_event_id}" do %>
        <div class="fieldset-div">
          <div class="left-col">
            <% if resource.candidate_sheet.attending === t('model.candidate.attending_the_way') %>
              <div class="field" id='<%= "candidate_event_#{confirmation_event_id}_the_way_due_date" %>'>
                <%= t('views.events.the_way_due_date') %>
                : <%= l confirmation_event_fields.object.the_way_due_date, format: :default %>
              </div>
            <% else %>
              <div class="field" id='<%= "candidate_event_#{confirmation_event_id}_chs_due_date" %>'>
                <%= t('views.events.chs_due_date') %>
                : <%= l confirmation_event_fields.object.chs_due_date, format: :default %>
              </div>
            <% end %>
            <div class="field" id='<%= "candidate_event_#{confirmation_event_id}_verified" %>'>
              <%= t('views.events.verified') %>
              : <%= candidate_event_fields.check_box :verified, onclick: "update_completed_date(this.id)" %>
            </div>
            <div class="field" id='<%= "candidate_event_#{confirmation_event_id}_completed_date" %>'>
              <%= t('views.events.completed_date') %>: <%= candidate_event_fields.date_field :completed_date %>
            </div>
          </div>
          <div class="right-col" id='<%= "candidate_event_#{confirmation_event_id}_instructions" %>'>
            <h2><%= t('views.events.instructions') %>: </h2>
            <%= sanitize confirmation_event_fields.object.instructions %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <div class="actions">
    <%= f.submit t('views.common.update') %>
  </div>

<% end %>
