<%= form_tag mass_edit_candidates_update_path(), method: :post do %>
    <div class="btn-group" role="group" aria-label="...">
      <%= submit_tag AdminsController::DELETE, id: 'top-update-delete', value: AdminsController::DELETE, data: { confirm: t('views.common.are_you_sure_delete_candidates') } %>
      <%= submit_tag AdminsController::EMAIL, id: 'top-update-email', value: AdminsController::EMAIL %>
      <%= submit_tag AdminsController::RESET_PASSWORD, id: 'top-update-reset-password', value: AdminsController::RESET_PASSWORD  %>
      <%= submit_tag AdminsController::INITIAL_EMAIL, id: 'top-update-initial-email', value: AdminsController::INITIAL_EMAIL  %>
      <%= submit_tag AdminsController::GENERATE_PDF, id: 'top-update-generate-pdf', value: AdminsController::GENERATE_PDF  %>
      <%= submit_tag AdminsController::CONFIRM_ACCOUNT, id: 'top-update-confirm-account', value: AdminsController::CONFIRM_ACCOUNT  %>
    </div>

    <%= render partial: 'shared/sorting_candidate_selection',
               :locals => {
                   candidates: @candidates,
                   route: :candidates,
                   other_columns: {
                       headers: [
                           t('views.nav.edit')
                       ],
                       rows: [
                           lambda { |candidate| link_to t('views.nav.edit'), event_candidate_path(candidate.id) }
                       ]
                   },
                   selected_candidate_ids: @selected_candidate_ids
               } %>
    <div class="btn-group" role="group" aria-label="...">
      <%= submit_tag AdminsController::DELETE, id: 'bottom-update-delete', value: AdminsController::DELETE, data: { confirm: t('views.common.are_you_sure_delete_candidates') } %>
      <%= submit_tag AdminsController::EMAIL, id: 'bottom-update-email', value: AdminsController::EMAIL %>
      <%= submit_tag AdminsController::RESET_PASSWORD, id: 'bottom-update-reset-password', value: AdminsController::RESET_PASSWORD %>
      <%= submit_tag AdminsController::INITIAL_EMAIL, id: 'bottom-update-initial-email', value: AdminsController::INITIAL_EMAIL %>
      <%= submit_tag AdminsController::GENERATE_PDF, id: 'bottom-update-generate-pdf', value: AdminsController::GENERATE_PDF  %>
      <%= submit_tag AdminsController::CONFIRM_ACCOUNT, id: 'bottom-update-confirm-account', value: AdminsController::CONFIRM_ACCOUNT  %>
    </div>

<% end %>