<%= form_tag mass_edit_candidates_update_path(), method: :post do %>
  <div class="btn-group" role="group" aria-label="...">
    <%= submit_tag AdminsController::DELETE, id: 'top-update-delete', value: AdminsController::DELETE, data: { confirm: t('views.common.are_you_sure_delete_candidates') } %>
    <%= submit_tag AdminsController::EMAIL, id: 'top-update-email', value: AdminsController::EMAIL %>
    <%= submit_tag AdminsController::RESET_PASSWORD, id: 'top-update-reset-password', value: AdminsController::RESET_PASSWORD %>
    <%= submit_tag AdminsController::INITIAL_EMAIL, id: 'top-update-initial-email', value: AdminsController::INITIAL_EMAIL %>
    <%= submit_tag AdminsController::GENERATE_PDF, id: 'top-update-generate-pdf', value: AdminsController::GENERATE_PDF %>
    <%= submit_tag AdminsController::CONFIRM_ACCOUNT, id: 'top-update-confirm-account', value: AdminsController::CONFIRM_ACCOUNT %>
    <%= submit_tag AdminsController::UNCONFIRM_ACCOUNT, id: 'top-update-unconfirm-account', value: AdminsController::UNCONFIRM_ACCOUNT %>
  </div>

  <%= render 'shared/sorting_candidate_selection',
             candidate_info: @candidate_info,
             confirmation_event: nil,
             other_columns: {
                 headers: [
                     t('views.nav.edit'),
                     t('views.nav.note')
                 ],
                 rows: [
                     lambda { |id| link_to t('views.nav.edit'), event_candidate_path(id) },
                     lambda { |id| link_to t('views.nav.note'), candidate_note_path(id) }
                 ]
             },
             route: :candidates,
             selected_candidate_ids: @selected_candidate_ids
  %>
  <div class="btn-group" role="group" aria-label="...">
    <%= submit_tag AdminsController::DELETE, id: 'bottom-update-delete', value: AdminsController::DELETE, data: { confirm: t('views.common.are_you_sure_delete_candidates') } %>
    <%= submit_tag AdminsController::EMAIL, id: 'bottom-update-email', value: AdminsController::EMAIL %>
    <%= submit_tag AdminsController::RESET_PASSWORD, id: 'bottom-update-reset-password', value: AdminsController::RESET_PASSWORD %>
    <%= submit_tag AdminsController::INITIAL_EMAIL, id: 'bottom-update-initial-email', value: AdminsController::INITIAL_EMAIL %>
    <%= submit_tag AdminsController::GENERATE_PDF, id: 'bottom-update-generate-pdf', value: AdminsController::GENERATE_PDF %>
    <%= submit_tag AdminsController::CONFIRM_ACCOUNT, id: 'bottom-update-confirm-account', value: AdminsController::CONFIRM_ACCOUNT %>
    <%= submit_tag AdminsController::UNCONFIRM_ACCOUNT, id: 'bottom-update-unconfirm-account', value: AdminsController::UNCONFIRM_ACCOUNT %>
  </div>

<% end %>
