<%= form_tag mass_edit_candidates_update_path(), method: :post do %>
    <div class="btn-group" role="group" aria-label="...">
      <%= submit_tag AdminsController::DELETE, id: 'top-update-delete', value: t('views.common.delete') %>
      <%= submit_tag AdminsController::RESET_PASSWORD, id: 'top-update-reset-password', value: t('views.common.reset_password') %>
      <%= submit_tag AdminsController::EMAIL, id: 'top-update-email', value: t('views.nav.email') %>
    </div>

    <%= render partial: 'shared/sorting_candidate_selection',
               :locals => {
                   candidates: @candidates,
                   route: :candidates,
                   other_columns: {
                       headers: [
                           t('views.nav.edit')
                       ],
                       rows: [
                           lambda { |candidate| link_to t('views.nav.edit'), event_candidate_path(candidate.id) }
                       ]
                   },
                   selected_candidate_ids: @selected_candidate_ids
               } %>
    <div class="btn-group" role="group" aria-label="...">
      <%= submit_tag AdminsController::DELETE, id: 'bottom-update-delete', value: t('views.common.delete') %>
      <%= submit_tag AdminsController::RESET_PASSWORD, id: 'bottom-update-reset-password', value: t('views.common.reset_password') %>
      <%= submit_tag AdminsController::EMAIL, id: 'bottom-update-email', value: t('views.nav.email') %>
    </div>

<% end %>