<h3><%= t('views.candidates.candidate') %></h3>
<p>Id: <%= @candidate.account_name %></p>
<p>First name: <%= @candidate.candidate_sheet.first_name %></p>
<p>Middle name: <%= @candidate.candidate_sheet.middle_name %></p>
<p>Last name: <%= @candidate.candidate_sheet.last_name %></p>
<p>Attending: <%= @candidate.candidate_sheet.attending %></p>
<p>Grade: <%= @candidate.candidate_sheet.grade %></p>
<p>Candidate email: <%= @candidate.candidate_sheet.candidate_email %></p>
<p>Parent email 1: <%= @candidate.candidate_sheet.parent_email_1 %></p>
<p>Parent email 2: <%= @candidate.candidate_sheet.parent_email_2 %></p>
