<h3>Candidate</h3>
<p>Id: <%= @candidate.candidate_id %></p>
<p>First name: <%= @candidate.first_name %></p>
<p>Last name: <%= @candidate.last_name %></p>
<p>Attending: <%= @candidate.attending %></p>
<p>Grade: <%= @candidate.grade %></p>
<p>Candidate email: <%= @candidate.candidate_email %></p>
<p>Parent email 1: <%= @candidate.parent_email_1 %></p>
<p>Parent email 2: <%= @candidate.parent_email_2 %></p>
