

  <%= f.fields_for :baptismal_certificate do |bc_fields| %>
    <%= bc_fields.hidden_field :show_empty_radio %>
    <% bc = bc_fields.object %>
    <div class="field">
      <%= t('label.baptismal_certificate.baptismal_certificate.baptized_at_stmm') %>:<br/>
      <%= bc_fields.radio_button :baptized_at_stmm, '1', checked: bc.baptized_at_stmm_show_yes, onclick: 'confirmation_toggle().baptised_yes();' %><%= bc_fields.label :baptized_at_stmm, 'Yes' %>
      <%= bc_fields.radio_button :baptized_at_stmm, '0', checked: bc.baptized_at_stmm_show_no, onclick: 'confirmation_toggle().baptised_no();' %><%= bc_fields.label :baptized_at_stmm, 'No' %>
    </div>
    <div id="first-communion-top" class="field <%= bc.first_comm_show ? 'show-div' : 'hide-div' %>">
      <%= t('label.baptismal_certificate.baptismal_certificate.first_comm_at_stmm') %>:<br/>
      <%= bc_fields.radio_button :first_comm_at_stmm, '1', checked: bc.first_comm_at_stmm_show_yes, onclick: 'confirmation_toggle().first_comm_yes();' %><%= bc_fields.label :first_comm_at_stmm, 'Yes' %>
      <%= bc_fields.radio_button :first_comm_at_stmm, '0', checked: bc.first_comm_at_stmm_show_no, onclick: 'confirmation_toggle().first_comm_no();' %><%= bc_fields.label :first_comm_at_stmm, 'No' %>
    </div>
    <div id="baptismal-certificate-top" class="<%= bc.info_show ? 'show-div' : 'hide-div' %>">

      <%= f.fields_for :candidate_sheet do |cs_fields| %>
        <%= field_set_tag t('field_set.candidate_sheet.name'), class: 'fieldset' do %>
          <div class="fieldset-div">
            <div class="field">
              <%= cs_fields.label :first_name, I18n.t('label.candidate_sheet.first_name') %><br/>
              <%= cs_fields.text_field :first_name, autofocus: true %>
            </div>

            <div class="field">
              <%= cs_fields.label :middle_name, I18n.t('label.candidate_sheet.middle_name') %><br/>
              <%= cs_fields.text_field :middle_name %>
            </div>

            <div class="field">
              <%= cs_fields.label :last_name, I18n.t('label.candidate_sheet.last_name') %><br/>
              <%= cs_fields.text_field :last_name %>
            </div>
          </div>
        <% end %>
      <% end %>

      <%= field_set_tag t('field_set.baptismal_certificate.dates'), class: 'fieldset' do %>
        <div class="fieldset-div">
          <div class="field">
            <%= bc_fields.label :birth_date, t('label.baptismal_certificate.baptismal_certificate.birth_date') %>
            <br/>
            <%= bc_fields.date_field :birth_date %>
          </div>
          <div class="field">
            <%= bc_fields.label :baptismal_date, t('label.baptismal_certificate.baptismal_certificate.baptismal_date') %>
            <br/>
            <%= bc_fields.date_field :baptismal_date %>
          </div>
        </div>
      <% end %>

      <%= field_set_tag t('field_set.baptismal_certificate.church'), class: 'fieldset' do %>
        <div class="fieldset-div">
          <div class="field">
            <%= bc_fields.label :church_name, t('label.baptismal_certificate.baptismal_certificate.church_name') %>
            <br/>
            <%= bc_fields.text_field :church_name %>
          </div>
          <%= bc_fields.fields_for :church_address do |address_fields| %>
            <div class="field">
              <%= address_fields.label :street_1, t('label.baptismal_certificate.baptismal_certificate.church_address.street_1') %>
              <br/>
              <%= address_fields.text_field(:street_1, autocomplete: 'address-line1') %>
            </div>
            <div class="field">
              <%= address_fields.label :street_2, t('label.baptismal_certificate.baptismal_certificate.church_address.street_2') %>
              <br/>
              <%= address_fields.text_field :street_2, autocomplete: 'address-line2' %>
            </div>
            <div class="field">
              <%= address_fields.label :city, t('label.baptismal_certificate.baptismal_certificate.church_address.city') %>
              <br/>
              <%= address_fields.text_field :city, autocomplete: 'address-level2' %>
            </div>
            <div class="field">
              <%= address_fields.label :state, t('label.baptismal_certificate.baptismal_certificate.church_address.state') %>
              <br/>
              <%= address_fields.text_field :state, autocomplete: 'address-level1' %>
            </div>
            <div class="field">
              <%= address_fields.label :zip_code, t('label.baptismal_certificate.baptismal_certificate.church_address.zip_code') %>
              <br/>
              <%= address_fields.text_field :zip_code, autocomplete: 'postal-code' %>
            </div>
          <% end %>
        </div>
      <% end %>

      <%= field_set_tag t('field_set.baptismal_certificate.father'), class: 'fieldset' do %>
        <div class="fieldset-div">
          <div class="field">
            <%= bc_fields.label :father_first, t('label.baptismal_certificate.baptismal_certificate.father_first') %>
            <br/>
            <%= bc_fields.text_field :father_first, autocomplete: 'given-name' %>
          </div>

          <div class="field">
            <%= bc_fields.label :father_middle, t('label.baptismal_certificate.baptismal_certificate.father_middle') %>
            <br/>
            <%= bc_fields.text_field :father_middle, autocomplete: 'addition-name' %>
          </div>

          <div class="field">
            <%= bc_fields.label :father_last, t('label.baptismal_certificate.baptismal_certificate.father_last') %>
            <br/>
            <%= bc_fields.text_field :father_last, autocomplete: 'family-name' %>
          </div>
        </div>
      <% end %>

      <%= field_set_tag t('field_set.baptismal_certificate.mother'), class: 'fieldset' do %>
        <div class="fieldset-div">
          <div class="field">
            <%= bc_fields.label :mother_first, t('label.baptismal_certificate.baptismal_certificate.mother_first') %>
            <br/>
            <%= bc_fields.text_field :mother_first, autocomplete: 'given-name' %>
          </div>

          <div class="field">
            <%= bc_fields.label :mother_middle, t('label.baptismal_certificate.baptismal_certificate.mother_middle') %>
            <br/>
            <%= bc_fields.text_field :mother_middle, autocomplete: 'addition-name' %>
          </div>

          <div class="field">
            <%= bc_fields.label :mother_maiden, t('label.baptismal_certificate.baptismal_certificate.mother_maiden') %>
            <br/>
            <%= bc_fields.text_field :mother_maiden, autocomplete: 'addition-name' %>
          </div>

          <div class="field">
            <%= bc_fields.label :mother_last, t('label.baptismal_certificate.baptismal_certificate.mother_last') %>
            <br/>
            <%= bc_fields.text_field :mother_last, autocomplete: 'family-name' %>
          </div>
        </div>
      <% end %>

      <%= render "candidates/shared/scanned_image",

                     url_for_image: url_for(is_dev ? dev_event_with_picture_image_path(candidate.id, @event_with_picture_name) : event_with_picture_image_path(candidate.id, @event_with_picture_name)),
                     candidate: candidate,

                     fieldset_text: t('field_set.baptismal_certificate.scan'),
                     field: :certificate_picture,
                     remove_id: :candidate_baptismal_certificate_attributes_remove_certificate_picture,
                     remove_field: bc_fields.hidden_field(:remove_certificate_picture, value: ''),
                     scanned_image: event_association.scanned_certificate,
                     scanned_image_field: bc_fields.file_field(:certificate_picture, accept: SideBar::IMAGE_FILE_TYPES, onchange: "confirmation_toggle().scanned_image_chosen('candidate_baptismal_certificate_attributes_remove_certificate_picture', 'certificate_picture');"),
                     scanned_image_label: bc_fields.label(:certificate_picture, t('label.baptismal_certificate.baptismal_certificate.certificate_picture'))
                  %>

  <% end %>
  </div>
