<article>
  <section id="export">
    <h2><%= t('views.imports.candidates_export') %></h2>
    <p>
      <%= t('views.imports.export_message') %>
    </p>
    <%= form_for @candidate_import, url: candidate_imports_export_to_excel_path(format: 'xlsx') do |f| %>

      <div class="buttons"><%= f.submit t('views.imports.excel_no_pict') %></div>

    <% end %>
  </section>

  <section id="import">

    <h2><%= t('views.imports.candidates_import') %></h2>

    <p>
      <%= t('views.imports.import_message') %>
    </p>

    <%= form_for @candidate_import, url: candidate_imports_import_candidates_path do |f| %>
      <% if @candidate_import.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@candidate_import.errors.count, "error") %> prohibited this import from completing:</h2>
          <ul>
            <% @candidate_import.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.file_field :file %>
      </div>
      <div class="buttons"><%= f.submit t('views.imports.import') %></div>
    <% end %>
  </section>
</article>
