<%= form_for(@candidate, as: :candidate, url: path, html: {method: :put}) do |f| %>

  <div class = "actions" >
    <%= f.submit update_name, id: "top-update#{id_postfix}" %>
  </div >

    <div xmlns = "http://www.w3.org/1999/html" xmlns = "http://www.w3.org/1999/html" >
      <p >I am committed to this year of preparation for Confirmation. I agree to attend all of the required sessions
        which include
      <ul >
        <li >the Confirmation Retreat,</li >
        <li >Confirmation classes,</li >
        <li >Confirmation practice, and</li >
        <li >the Confirmation Mass.</li >
        <li >I will also attend at least one other Youth Group session per month.</li >
      </ul >
      </p>
      <p >I will choose to participate in all sessions with an open heart and give 100% of myself to my small group and
        my small group leaders. I agree to cultivate a relationship with my sponsor to learn from their spiritual
        guidance.</p >
      <p >Most importantly, I promise to receive all that God has in store for me this year and to let the gifts and
        fruits of the Holy Spirit come alive in my life.</p>
    </div >


    <div class = "field" >
      <%= f.check_box :signed_agreement %>
      <%= f.label :signed_agreement, t('label.sign_agreement.signed_agreement') %>
    </div >

  <div class = "actions" >
    <%= f.submit update_name, id: "bottom-update#{id_postfix}" %>
  </div >

<% end %>