<article>
  <section id="export">
    <h2><%= t('views.imports.candidates_export') %></h2>
    <p>
      <%= t('views.imports.export_message') %>
    </p>
    <%= form_for @candidate_import, url: candidate_imports_export_to_excel_path(format: 'xlsx') do |f| %>

      <div class="buttons"><%= f.submit t('views.imports.excel_no_pict') %></div>

    <% end %>
  </section>

  <section id="import">

    <h2><%= t('views.imports.candidates_import') %></h2>

    <p>
      <%= t('views.imports.import_message') %>
    </p>

    <%= form_for @candidate_import, url: candidate_imports_import_candidates_path do |f| %>
      <% if @candidate_import.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@candidate_import.errors.count, "error") %> prohibited this import from completing:</h2>
          <ul>
            <% @candidate_import.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.file_field :file %>
      </div>
      <div class="buttons"><%= f.submit t('views.imports.import') %></div>
    <% end %>
  </section>

  <section id="start_new_year">

    <%= form_for @candidate_import, url: candidate_imports_start_new_year_path do |f| %>
      <h2><%= t('views.imports.start_new_year.title') %></h2>

      <h3><%= t('views.imports.cannot_recover') %></h3>
      <p>
        <%= t('views.imports.start_new_year.title') %>
      </p>
      <ul>
        <li><%= t('views.imports.start_new_year.bullet_1') %></li>
        <li><%= t('views.imports.start_new_year.bullet_2') %></li>
        <li><%= t('views.imports.start_new_year.bullet_3') %></li>
        <li><%= t('views.imports.start_new_year.bullet_4') %></li>
      </ul>
      <div class="buttons"><%= f.submit t('views.imports.start_new_year.title'), data: { confirm: t('views.imports.start_new_year.confirm') } %></div>
    <% end %>
  </section>

  <section id="reset_database">
    <h2><%= t('views.imports.reset_database.title') %></h2>

    <%= form_for @candidate_import, url: candidate_imports_reset_database_path do |f| %>

      <h3><%= t('views.imports.cannot_recover') %></h3>
      <p>
        <%= t('views.imports.reset_database.title') %>
      </p>
      <ul>
        <li><%= t('views.imports.reset_database.bullet_1') %></li>
        <li><%= t('views.imports.reset_database.bullet_2') %></li>
        <li><%= t('views.imports.reset_database.bullet_3') %></li>
        <li><%= t('views.imports.reset_database.bullet_4') %></li>
      </ul>
      <div class="buttons"><%= f.submit t('views.imports.reset_database.title'), data: { confirm: t('views.imports.reset_database.confirm') } %></div>
    <% end %>
  </section>
</article>
