
    <%= f.fields_for :christian_ministry do |cm_fields| %>

        <%= field_set_tag t('field_set.christian_ministry.questions'), class: 'fieldset' do %>
            <div class="field">
              <%= cm_fields.label :what_service, t('label.christian_ministry.what_service') %><br/>
              <%= cm_fields.text_field :what_service %>
            </div>
            <div class="field">
              <%= cm_fields.label :where_service, t('label.christian_ministry.where_service') %><br/>
              <%= cm_fields.text_area :where_service %>
            </div>
            <div class="field">
              <%= cm_fields.label :when_service, t('label.christian_ministry.when_service') %><br/>
              <%= cm_fields.text_area :when_service %>
            </div>
            <div class="field">
              <%= cm_fields.label :helped_me, t('label.christian_ministry.helped_me') %><br/>
              <%= cm_fields.text_area :helped_me %>
            </div>
        <% end %>
    <% end %>

