<% is_candidate_signed_in_and_not_new = (by_candidate and !is_new) %>

<%= devise_error_messages! %>

<div class="field">
  <%= f.label :account_name %><br/>
  <%= f.text_field :account_name, readonly: is_candidate_signed_in_and_not_new, autofocus: !is_candidate_signed_in_and_not_new %>
</div>

<%= field_set_tag t('views.candidates.candidate_name'), class: 'fieldset' do %>
    <div class="fieldset-div">
      <div class="field">
        <%= f.label :first_name %><br/>
        <%= f.text_field :first_name, autofocus: is_candidate_signed_in_and_not_new %>
      </div>

      <div class="field">
        <%= f.label :last_name %><br/>
        <%= f.text_field :last_name %>
      </div>
    </div>
<% end %>

<%= field_set_tag t('views.candidates.address'), class: 'fieldset' do %>
    <div class="fieldset-div">
      <%= f.fields_for :address do |address_fields| %>
          <div class="field">
            Street 1 : <%= address_fields.text_field :street_1 %>
          </div>
          <div class="field">
            Street 2 : <%= address_fields.text_field :street_2 %>
          </div>
          <div class="field">
            City : <%= address_fields.text_field :city %>
          </div>
          <div class="field">
            State : <%= address_fields.text_field :state %>
          </div>
          <div class="field">
            Zip code: <%= address_fields.text_field :zip_code %>
          </div>
      <% end %>
    </div>
<% end %>

<%= field_set_tag t('views.candidates.email'), class: 'fieldset' do %>
    <div class="fieldset-div">
      <div class="field">
        <%= f.label :candidate_email %><br/>
        <%= f.email_field :candidate_email %>
      </div>

      <div class="field">
        <%= f.label :parent_email_1 %><br/>
        <%= f.email_field :parent_email_1 %>
      </div>

      <div class="field">
        <%= f.label :parent_email_2 %><br/>
        <%= f.email_field :parent_email_2 %>
      </div>
    </div>
<% end %>

<%= field_set_tag t('views.candidates.other'), class: 'fieldset' do %>
    <div class="fieldset-div">
      <div class="field">
        <%= f.label :grade %><br/>
        <%= f.number_field :grade, min: 8, max: 12 %>
      </div>

      <%= field_set_tag 'Attending', class: 'fieldset' do %>
          <div class="fieldset-div">
            <%= f.radio_button(:attending, I18n.t('views.candidates.attending_catholic_high_school')) %> <%= f.label :attending, I18n.t('views.candidates.attending_catholic_high_school'), value: I18n.t('views.candidates.attending_catholic_high_school') %>
            <br/>
            <%= f.radio_button(:attending, I18n.t('views.candidates.attending_the_way')) %> <%= f.label :attending, I18n.t('views.candidates.attending_the_way'), value: I18n.t('views.candidates.attending_the_way') %>
          </div>
      <% end %>
    </div>
<% end %>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
<% end %>

<%= field_set_tag t('views.candidates.password'), class: 'fieldset' do %>
    <div class="fieldset-div">
      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>
        <%= f.password_field :password, autocomplete: 'off' %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br/>
        <%= f.password_field :password_confirmation, autocomplete: 'off' %>
      </div>
    </div>
<% end %>

<% if is_candidate_signed_in_and_not_new %>
    <div class="field">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br/>
      <%= f.password_field :current_password, autocomplete: 'off' %>
    </div>
<% end %>

<div class="actions">
  <%= f.submit (is_new ? t('views.common.sign_up') : t('views.common.update')) %>
</div>