<% candidate.candidate_events_sorted.each do |candidate_event, index|

  confirmation_event = candidate_event.confirmation_event
  confirmation_event_id = confirmation_event.id
%>
    <div class="<%= controller.event_class(candidate_event) %>">

      <div id="<%= "candidate_event_#{confirmation_event_id}_header" %>">
        <% legend_object = if confirmation_event.name == t('events.parent_meeting') %>
            <% confirmation_event.name %>
        <% else %>
            <% path, i18n = candidate_event_to_path(confirmation_event.name, candidate_event.candidate.id)
               link_to i18n, path %>
        <% end %>
        <h3><%= legend_object %></h3>
      </div>
      <div id="<%= "candidate_event_#{confirmation_event_id}_section_left" %>" class="left-col">
        <% if candidate.candidate_sheet.attending == t('model.candidate.attending_the_way') %>
            <div id="<%= "candidate_event_#{confirmation_event_id}_the_way_due_date" %>"><%= t('views.events.the_way_due_date') %>: <%= l confirmation_event.the_way_due_date, format: :default %></div>
        <% else %>
            <div id="<%= "candidate_event_#{confirmation_event_id}_chs_due_date" %>"><%= t('views.events.chs_due_date') %>: <%= l confirmation_event.chs_due_date, format: :default %></div>
        <% end %>
        <div id="<%= "candidate_event_#{confirmation_event_id}_verified" %>">
          <%= t('views.events.verified') %>: <%= candidate_event.verified %>
        </div>
        <div id="<%= "candidate_event_#{confirmation_event_id}_completed_date" %>">
          <%= t('views.events.completed_date') %>: <%= (candidate_event.completed_date.nil?) ? '' : l(candidate_event.completed_date, format: :default) %>
        </div>
      </div>

      <div id="<%= "candidate_event_#{confirmation_event_id}_instructions" %>" class="right-col">
        <h2><%= t('views.events.instructions') %>: </h2>
        <%= sanitize confirmation_event.instructions %>
      </div>
    </div>
    <div class="clear"></div>
<% end %>
