<% candidate.candidate_events_sorted.each do |candidate_event, index|

  confirmation_event = candidate_event.confirmation_event
  confirmation_event_id = confirmation_event.id
%>
    <div class="<%= controller.event_class(candidate_event) %>">

      <div id="<%= "candidate_event_#{confirmation_event_id}_header" %>">
        <% legend_object = if confirmation_event.event_key == Candidate.parent_meeting_event_key %>
            <% I18n.t('events.parent_meeting') %>
        <% else %>
            <% path, i18n = candidate_event_to_path(confirmation_event.event_key, candidate_event.candidate.id)
               link_to i18n, path %>
        <% end %>
        <h3><%= legend_object %></h3>
      </div>
      <div id="<%= "candidate_event_#{confirmation_event_id}_section_left" %>" class="left-col">
        <% if candidate.candidate_sheet.program_year == 1 %>
            <div id="<%= "candidate_event_#{confirmation_event_id}_program_year1_due_date" %>"><%= t('views.events.program_year1_due_date') %>: <%= l confirmation_event.program_year1_due_date, format: :default %></div>
        <% else %>
            <div id="<%= "candidate_event_#{confirmation_event_id}_program_year2_due_date" %>"><%= t('views.events.program_year2_due_date') %>: <%= l confirmation_event.program_year2_due_date, format: :default %></div>
        <% end %>
        <div id="<%= "candidate_event_#{confirmation_event_id}_verified" %>">
          <%= t('views.events.verified') %>: <%= candidate_event.verified %>
        </div>
        <div id="<%= "candidate_event_#{confirmation_event_id}_completed_date" %>">
          <%= t('views.events.completed_date') %>: <%= (candidate_event.completed_date.nil?) ? '' : l(candidate_event.completed_date, format: :default) %>
        </div>
      </div>

      <div id="<%= "candidate_event_#{confirmation_event_id}_instructions" %>" class="right-col">
        <h2><%= t('views.events.instructions') %>: </h2>
        <%= sanitize confirmation_event.instructions %>
      </div>
    </div>
    <div class="clear"></div>
<% end %>
