
    <%= f.fields_for :pick_confirmation_name do |pcn_fields| %>

        <%= field_set_tag t('field_set.confirmation_name.saint'), class: 'fieldset' do %>
            <div class="field">
              <%= pcn_fields.label :saint_name %><br/>
              <%= t('activerecord.attributes.pick_confirmation_name.saint') %> <%= pcn_fields.text_field :saint_name %>
            </div>
        <% end %>
    <% end %>