
<%= field_set_tag fieldset_text, class: 'fieldset' do %>
    <div class="fieldset-div">
      <%= scanned_image_field %>
      <%= scanned_image_label %>

      <% unless scanned_image.nil? %>
          <div>
            <% if scanned_image.content_type === 'application/pdf' %>
                <object data="<%= url_for_image %>"
                        type="<%= scanned_image.content_type %>"
                        width="600" height=783"
                        alt="<%= "Did not receive the pdf picture: #{scanned_image.filename}" %>" ></object>
            <% else %>
                <img src="<%= url_for_image %>"
                     alt="<%= "Did not receive the picture: #{scanned_image.filename}" %>"/>
            <% end %>
          </div>
      <% end %>
    </div>

<% end %>