
    <%= f.fields_for :sponsor_covenant do |sc_fields| %>
        <%= field_set_tag t('field_set.sponsor_covenant.sponsor_covenant'), class: 'fieldset' do %>
            <div class="fieldset-div">
              <div class="field">
                <%= sc_fields.label :sponsor_name, t('label.sponsor_covenant.sponsor_name') %><br/>
                <%= sc_fields.text_field :sponsor_name %>
              </div>

              <%= render "candidates/shared/scanned_image",

                             url_for_image: url_for(is_dev ? dev_event_with_picture_image_path(candidate.id, @event_with_picture_name) : event_with_picture_image_path(candidate.id, @event_with_picture_name)),
                             candidate: candidate,

                             fieldset_text: t('field_set.sponsor_covenant.sponsor_covenant'),
                             field: :sponsor_covenant_picture,
                             remove_id: :candidate_sponsor_covenant_attributes_remove_sponsor_covenant_picture,
                             remove_field: sc_fields.hidden_field(:remove_sponsor_covenant_picture, value: ''),
                             scanned_image: event_association.scanned_covenant,
                             scanned_image_field: sc_fields.file_field(:sponsor_covenant_picture, accept: SideBar::IMAGE_FILE_TYPES, onchange: "confirmation_toggle().scanned_image_chosen('candidate_sponsor_covenant_attributes_remove_sponsor_covenant_picture', 'sponsor_covenant_picture');"),
                             scanned_image_label: sc_fields.label(:sponsor_covenant_picture, t('label.sponsor_covenant.sponsor_covenant_picture'))
                          %>
            </div>
        <% end %>
        <%= field_set_tag t('field_set.sponsor_covenant.sponsor_eligibility'), class: 'fieldset' do %>
            <div class="fieldset-div">
              <div class="field">
                <%= sc_fields.check_box :sponsor_attends_home_parish, onclick: 'confirmation_toggle().toggle_top(\'#sponsor-covenant-top\', \'toggle\');' %>
                <%= sc_fields.label :sponsor_attends_home_parish, t('label.sponsor_covenant.sponsor_attends_home_parish', home_parish: Visitor.home_parish) %>
              </div>

              <div id="sponsor-covenant-top" class="<%= @candidate.sponsor_covenant.sponsor_attends_home_parish ? 'hide-div' : 'show-div' %>">
                <div class="field">
                  <%= sc_fields.label :sponsor_church, t('label.sponsor_covenant.sponsor_church') %><br/>
                  <%= sc_fields.text_field :sponsor_church %>
                </div>

                <%= render "candidates/shared/scanned_image",

                               url_for_image: url_for(is_dev ? dev_upload_sponsor_eligibility_image_path(candidate.id) : upload_sponsor_eligibility_image_path(candidate.id)),
                               candidate: candidate,

                               fieldset_text: '',
                               field: :sponsor_eligibility_picture,
                               remove_id: :candidate_sponsor_covenant_attributes_remove_sponsor_eligibility_picture,
                               remove_field: sc_fields.hidden_field(:remove_sponsor_eligibility_picture, value: ''),
                               scanned_image: event_association.scanned_eligibility,
                               scanned_image_field: sc_fields.file_field(:sponsor_eligibility_picture, accept: SideBar::IMAGE_FILE_TYPES, onchange: "confirmation_toggle().scanned_image_chosen('candidate_sponsor_covenant_attributes_remove_sponsor_eligibility_picture', 'sponsor_eligibility_picture');"),
                               scanned_image_label: sc_fields.label(:sponsor_eligibility_picture, t('label.sponsor_covenant.sponsor_eligibility_picture'))
                            %>

              </div>
            </div>
        <% end %>
    <% end %>
