<%= form_for(@candidate, as: :candidate, url: path, html: {method: :put}) do |f| %>

    <div class = "actions" >
      <%= f.submit t('views.common.update'), id: 'top-update' %>
    </div >

    <h2>Conversation between Confirmation Sponsor & Candidate</h2>

    <div xmlns = "http://www.w3.org/1999/html" xmlns = "http://www.w3.org/1999/html" >
      <p >As the Sponsor of your Confirmation Candidate it is important to have a dialogue about the sacrament and to promote an open conversation on the subject of our Catholic faith.  You are the person entrusted to offer support and guidance during the sacramental preparation period and beyond.   Below is a list of questions to get your started in that conversation.</p>

      <ul>
        <li>Why do you want to be confirmed?</li>
        <li>What did you learn in Confirmation classes about your Catholic faith?</li>
        <li>Do you have any questions about your faith?  Are there subjects that are confusing or that you need clarification on?</li>
        <li>Do you have any questions about what you’ve been taught in Confirmation class?Do you have any questions about what you’ve been taught in Confirmation class?</li>
        <li>Why did you choose your Confirmation name?</li>
        <li>Are you aware of the commitment you are making when the Bishop confirms you?</li>
        <li>What can we both do to help you continue to keep the promises that you make at Confirmation?</li>
        <li>Share your faith story with your candidate.</li>
      </ul>

      <p>You do not need to write the answers to the above questions. These are suggested questions to get your conversation started.</p>
      <p>Please sign and date the form indicating that you and your sponsor have had a conversation about the sacrament of Confirmation and on the subject of our Catholic faith.</p>

    </div >


    <div class = "field" >
      <%= f.check_box :sponsor_agreement %>
      <%= f.label :sponsor_agreement, t('label.sign_agreement.signed_agreement') %>
    </div >

    <div class = "actions" >
      <%= f.submit t('views.common.update'), id: 'bottom-update' %>
    </div >

<% end %>