<h2><%= candidate_event.name %></h2>

<%= render partial: "candidates/shared/show_error_message",
           :locals => {event_association: event_association} %>

<div class="actions">
  <%= button_to t('views.common.download'), download_doc, {method: :put} %>
</div>


<div id="two_column">
  <div id="left-col" class="left_col">

    <%= render partial: "candidates/shared/#{shared_html_file}",
               :locals => {path: path
               } %>


  </div>
  <div id="right-col" class="right_col">
    <%= link_to '#', class: 'btn btn-default',
                id: "insturction-toggle",
                onclick: 'confirmation_toggle().instructions(event)',
                title: t('views.title.instruction_link') do %>
        <span id="insturction-toggle-span" class="glyphicon glyphicon-minus"></span>
    <% end %>
    <div id="instructions" class="show-div" %>
      <%= sanitize(candidate_event.confirmation_event.instructions) unless candidate_event.nil? %>
    </div>
  </div>
</div>