<% i18n_event_name = Candidate.i18n_event_name(candidate_event.name) %>


<div id="two_column">
  <h2 id="heading">
    <% if is_dev %>
      <%= i18n_event_name %>
    <% else %>
      <% first = candidate.candidate_sheet.first_name %>
      <% last = candidate.candidate_sheet.last_name %>
      <%= "#{I18n.t('views.events.heading', event_name: i18n_event_name, first: first, last: last)}" %>
    <% end %>
  </h2>

  <%= render 'candidates/shared/show_error_message',
             event_association: local_assigns[:error_msgs] ? error_msgs : event_association
  %>

  <% unless download_doc.nil? %>
    <div class="actions">
      <%= button_to t('views.common.download'), download_doc, { method: :put } %>
    </div>
  <% end %>


  <div id="left-col" class="left_col">

    <%= render 'candidates/shared/event_form',
               is_dev: is_dev,
                            is_verify: is_verify,
                            candidate: candidate,
                            event_association: event_association,
                            candidate_event: candidate_event,
                            download_doc: download_doc,
                            update_name: is_verify ? t('views.common.update_verify') : t('views.common.update'),
                            id_postfix: is_verify ? '-verify' : '',
                            shared_html_file: event_with_picture_route,
                            path: is_dev ? dev_event_with_picture_update_path(candidate.id, @event_with_picture_route) : (is_verify ? event_with_picture_verify_update_path(candidate.id, @event_with_picture_route) : event_with_picture_update_path(candidate.id, @event_with_picture_route)),
                            is_event_with_picture: true
               %>


  </div>
  <div id="right-col" class="right_col">
    <%= link_to '#', class: 'btn btn-default',
                id: "insturction-toggle",
                onclick: 'confirmation_toggle().instructions(event)',
                title: t('views.title.instruction_link') do %>
      <span id="insturction-toggle-span" class="glyphicon glyphicon-minus"></span>
    <% end %>
    <div id="instructions" class="show-div" %>
      <%= sanitize(candidate_event.confirmation_event.instructions) unless candidate_event.nil? %>
    </div>
  </div>
</div>
