<h3><%= t('views.candidates.candidate') %></h3>
<p><%= @candidate.account_name %></p>
<p><%= @candidate.first_name %></p>
<p><%= @candidate.last_name %></p>
<p><%= @candidate.attending %></p>
<p><%= @candidate.grade %></p>
<p><%= @candidate.candidate_email %></p>
<p><%= @candidate.parent_email_1 %></p>
<p><%= @candidate.parent_email_2 %></p>
