<p id="welcome">Welcome <%= @resource.candidate_sheet.first_name %>  <%= @resource.candidate_sheet.last_name %>!</p>

<p>
  I am Vicki Kristoff and I track all the data/forms for the Confirmation Candidates.
  I received your name from Liz Sams indicating that you will be going through Confirmation preparation this school year
  and be Confirmed on April 15, 2021.
  If this is not your plan, please email me and I will remove you from the list.
  This year, all Confirmation information will be entered on line and/or uploaded by you.
  If you are planning on being Confirmed, please click this link below. Confirming your account, lets me and the system know that your email address is correct.
</p>

<%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %>

<p>
  After you confirm your account, the system will generate another email with a link that will allow you to setup a
  password. After setting your password, you will be logged into the website and you will be able to download, complete and/or upload the forms. DO NOT turn in any hard copy forms.
</p>
<p>
  After logging out, you can login back in at anytime using your user name (shown at the bottom of this email) and password.
</p>

<p>
  You will be able to see the checklist of events each time you login.
  When you click on the highlighted event name, the screen will display what needs to be entered and if something needs
  to be uploaded.
  On each screen, you can use the download document button if you want or need to print a hardcopy of the form.
  For example, the sponsor covenant form needs to be filled out and signed by your sponsor. Once this is complete, you
  upload the document to the website.
  There are instructions on each page for completing that event. Some events have to be completed AND a form needs to be
  uploaded.
  For example, if you were NOT baptized at StMM, the baptismal certificate information needs to be entered and a copy of
  your baptismal certificate needs to be uploaded.
  If you have any questions or need help, I can be reached at stmm.conmfirmation@kristoffs.com or 919-607-1120.
</p>

<%= render 'shared/mailer/basic_candidate_info',
           candidate: @resource
%>

<p>Have a good year,</p>

<%= render 'shared/mailer/basic_admin_info',
           subject: 'Account confirmation instructions'
%>
