<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only"><%= I18n.t('views.nav.toggle_navigation') %></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Home', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
        <%= render 'layouts/nav_links_for_auth' %>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <%= I18n.t('views.top_bar.help') %> <span class="caret"></span>
        </a>
          <ul class="dropdown-menu">
          <li><%= link_to I18n.t('views.top_bar.contact_information'), contact_information_path %></li>
            <% if candidate_signed_in? %>
                <li><%= link_to I18n.t('views.top_bar.candidate_checklist'), dev_download_document_path(current_candidate.id, Event::Document::CANDIDATE_CHECKLIST), {method: :put} %></li>
          <% end %>
            <% if admin_signed_in? %>
                <li><%= link_to I18n.t('views.top_bar.candidate_checklist'), download_document_path(current_admin.id, Event::Document::CANDIDATE_CHECKLIST), {method: :put} %></li>
          <% end %>
            <li><%= link_to I18n.t('views.top_bar.aboutApp'), about_app_path %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
