<% require 'constants' %>

<% if admin_signed_in? %>
  <% admin_info = [
    [I18n.t('views.nav.add_new_admin'), new_admin_registration_path, I18n.t('views.nav.add_new_admin')],
    [I18n.t('views.nav.edit_account'), edit_admin_registration_path, I18n.t('views.nav.edit_account')],
    [I18n.t('views.nav.candidates'), candidates_path, I18n.t('views.nav.candidates')],
    [I18n.t('views.nav.adhoc_mailing'), adhoc_mailing_path, I18n.t('views.nav.adhoc_mailing')],
    [I18n.t('views.nav.monthly_mass_mailing'), monthly_mass_mailing_path, I18n.t('views.nav.monthly_mass_mailing')],
    [I18n.t('views.nav.add_new_candidate'), new_candidate_path, I18n.t('views.nav.add_new_candidate')],
    [I18n.t('views.nav.admins'), admins_path, I18n.t('views.nav.admins')],
    [I18n.t('views.nav.events'), edit_multiple_confirmation_events_path, I18n.t('views.nav.events')],
    [I18n.t('views.nav.users'), show_visitor_path, I18n.t('views.nav.users')]
  ] %>
  <ul id="admin-sidebar" class="flex-md-column flex-row navbar-nav w-100 justify-content-betwe">
    <% admin_info.each do |arr| %>
      <li class="nav-item"><%= link_to truncate(arr[2], length: SideBar::TRUNCATELENGTH), arr[1], title: arr[2] %></li>
    <% end %>
    <%# OTHER %>

    <% other_info = [
      [I18n.t('views.nav.other'), new_candidate_import_path, I18n.t('views.nav.other')],
      [I18n.t('views.nav.orphaneds'), orphaneds_check_path, I18n.t('views.nav.orphaneds')],
      [I18n.t('views.nav.reset_db.reset_database'), reset_db_show_reset_database_path, I18n.t('views.nav.reset_db.reset_database')],
      [I18n.t('views.nav.reset_db.start_new_year'), reset_db_show_start_new_year_path, I18n.t('views.nav.reset_db.start_new_year')],
      [I18n.t('views.nav.missing_events'), missing_events_check_path, I18n.t('views.nav.missing_events')]
    ] %>
    <li class="nav-item">
      <a class="nav-link px-0 text-truncate" data-bs-toggle="collapse" href="#collapseOther" aria-expanded="false" aria-controls="collapseOther">
        <i> <%= I18n.t('views.nav.other') %></i>
      </a>
      <div id="collapseOther" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionOther">
        <ul id="other-sidebar" class="flex-column nav">
          <% other_info.each do |arr| %>
            <li><%= link_to truncate(arr[0], length: SideBar::TRUNCATELENGTH), arr[1], title: arr[2] %></li>
          <% end %>
        </ul>
      </div>
    </li>

    <%# EXPORT %>

    <% export_info = [
      [I18n.t('views.nav.export_confirmation_name'), export_lists_confirmation_name_path, I18n.t('views.nav.export_confirmation_name')],
      [I18n.t('views.nav.export_attend_retreat_title', home_parish: Visitor.home_parish), export_lists_retreat_path, I18n.t('views.nav.export_attend_retreat_title', home_parish: Visitor.home_parish)],
      [I18n.t('views.nav.export_baptized_at_home_parish_title', home_parish: Visitor.home_parish), export_lists_baptism_path, I18n.t('views.nav.export_baptized_at_home_parish_title', home_parish: Visitor.home_parish)],
      [I18n.t('views.nav.export_sponsor_covenant_title'), export_lists_sponsor_covenant_path, I18n.t('views.nav.export_sponsor_covenant_title')],
      [I18n.t('views.nav.export_sponsor_at_home_parish_title', home_parish: Visitor.home_parish), export_lists_sponsor_eligibility_path, I18n.t('views.nav.export_sponsor_at_home_parish_title', home_parish: Visitor.home_parish)],
      [I18n.t('views.nav.export_candidate_event_status_title'), export_lists_events_path, I18n.t('views.nav.export_candidate_event_status_title')],
      [I18n.t('views.nav.pdf_baptismal_name'), export_lists_bap_name_path, I18n.t('views.nav.pdf_baptismal_name')]
    ] %>
    <li class="nav-item">
      <a class="nav-link px-0 text-truncate" data-bs-toggle="collapse" href="#collapseExport" aria-expanded="false" aria-controls="collapseExport">
        <i> <%= I18n.t('views.nav.export') %></i>
      </a>
      <div id="collapseExport" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExport">
        <ul id="export-sidebar" class="flex-column nav">
          <% export_info.each do |arr| %>
            <li><%= link_to truncate(arr[0], length: SideBar::TRUNCATELENGTH), arr[1], title: arr[2] %></li>
          <% end %>
        </ul>
      </div>
    </li>

    <% resource = @resource if @resource %>
    <% if defined?(resource) && (!resource.nil?) && (!resource.new_record?) && (resource.is_a? Candidate) %>

      <% candidate_info = [
        [I18n.t('label.sidebar.deferred'), deferred_path(resource.id), I18n.t('label.sidebar.deferred')],
        [I18n.t('label.sidebar.candidate_note'), candidate_note_path(resource.id), I18n.t('label.sidebar.candidate_note')],
        [Candidate.covenant_agreement_event_key, *candidate_event_to_path(Candidate.covenant_agreement_event_key, resource.id)],
        [CandidateSheet.event_key, *candidate_event_to_path(CandidateSheet.event_key, resource.id)],
        [BaptismalCertificate.event_key, *candidate_event_to_path(BaptismalCertificate.event_key, resource.id)],
        [SponsorCovenant.event_key, *candidate_event_to_path(SponsorCovenant.event_key, resource.id)],
        [SponsorEligibility.event_key, *candidate_event_to_path(SponsorEligibility.event_key, resource.id)],
        [PickConfirmationName.event_key, *candidate_event_to_path(PickConfirmationName.event_key, resource.id)],
        [ChristianMinistry.event_key, *candidate_event_to_path(ChristianMinistry.event_key, resource.id)],
        [RetreatVerification.event_key, *candidate_event_to_path(RetreatVerification.event_key, resource.id)],

        [I18n.t('views.nav.edit'), edit_candidate_path(resource.id), I18n.t('views.nav.edit'),],
        [I18n.t('views.nav.events'), event_candidate_path(resource.id), I18n.t('views.nav.events')]
      ] %>
      <p id="candidate"><%= "#{t('views.candidates.candidate')}: #{resource.candidate_sheet.first_name} #{resource.candidate_sheet.last_name}" %></p>
      <ul id="candidate-sidebar" class="flex-md-column flex-row navbar-nav w-100 justify-content-betwe">
        <% candidate_info.each do |arr| %>
          <% event_key = arr[0] %>
          <% path = arr[1] %>
          <% i18n = arr[2] %>
          <li class="nav-item"><%= link_to truncate(i18n, length: SideBar::TRUNCATELENGTH), path, title: i18n, class: 'nav-link pl-0 text-nowrap' %></li>
        <% end %>
      </ul>
    <% end %>
  </ul>
<% end %>

<% if candidate_signed_in? %>

  <% candidate_info = [
    [Candidate.covenant_agreement_event_key, *candidate_event_to_path(Candidate.covenant_agreement_event_key, current_candidate.id)],
    [CandidateSheet.event_key, *candidate_event_to_path(CandidateSheet.event_key, current_candidate.id)],
    [BaptismalCertificate.event_key, *candidate_event_to_path(BaptismalCertificate.event_key, current_candidate.id)],
    [SponsorCovenant.event_key, *candidate_event_to_path(SponsorCovenant.event_key, current_candidate.id)],
    [SponsorEligibility.event_key, *candidate_event_to_path(SponsorEligibility.event_key, current_candidate.id)],
    [PickConfirmationName.event_key, *candidate_event_to_path(PickConfirmationName.event_key, current_candidate.id)],
    [ChristianMinistry.event_key, *candidate_event_to_path(ChristianMinistry.event_key, current_candidate.id)],
    [RetreatVerification.event_key, *candidate_event_to_path(RetreatVerification.event_key, current_candidate.id)],

    [I18n.t('views.nav.edit'), edit_candidate_registration_path, I18n.t('views.nav.edit'),],
    [I18n.t('views.nav.events'), event_candidate_registration_path(current_candidate.id), I18n.t('views.nav.events')]
  ] %>
  <ul id="candidate-sidebar" class="flex-md-column flex-row navbar-nav w-100 justify-content-betwe">
    <% candidate_info.each do |arr| %>
      <% event_key = arr[0] %>
      <% path = arr[1] %>
      <% i18n = arr[2] %>
      <li class="nav-item"><%= link_to truncate(i18n, length: SideBar::TRUNCATELENGTH), path, title: i18n, class: 'nav-link pl-0 text-nowrap' %></li>
    <% end %>
  </ul>
<% end %>
