<% if admin_signed_in? %>
    <ul class>
      <% if admin_signed_in? %>
          <li><%= link_to 'Add new admin', new_admin_registration_path %></li>
          <li><%= link_to 'Edit account', edit_admin_registration_path %></li>
          <li><%= link_to 'Candidates', candidates_path %></li>
          <li><%= link_to 'Add new candidate', new_candidate_path %></li>
          <li><%= link_to 'Admins', admins_path %></li>
          <li><%= link_to 'Other', new_candidate_import_path %></li>
          <% if defined?(resource) && (! resource.nil?) && (! resource.new_record?) && (resource.is_a? Candidate) %>
              <p class="sidebar-text">Candidate <%= "#{resource.first_name} #{resource.last_name}" %></p>

              <li><%= link_to "Edit #{resource.first_name} #{resource.last_name}", edit_candidate_path(resource.id) %></li>
              <li><%= link_to "Events #{resource.first_name} #{resource.last_name}", candidate_path(resource.id) %></li>
          <% end %>
      <% end %>
    </ul>
<% end %>

<% if candidate_signed_in? %>
    <ul>
      <li><%= link_to 'Edit account', edit_candidate_registration_path %></li>
      <li><%= link_to 'Events', candidate_path(current_candidate.id) %></li>
    </ul>
<% end %>