<%= require 'constants' %>

<% if admin_signed_in? %>
    <% if admin_signed_in? %>
        <li><%= link_to I18n.t('views.nav.add_new_admin'), new_admin_registration_path %></li>
        <li><%= link_to I18n.t('views.nav.edit_account'), edit_admin_registration_path %></li>
        <li><%= link_to I18n.t('views.nav.candidates'), candidates_path %></li>
        <li><%= link_to I18n.t('views.nav.add_new_candidate'), new_candidate_path %></li>
        <li><%= link_to I18n.t('views.nav.admins'), admins_path %></li>
        <li><%= link_to I18n.t('views.nav.events'), events_path %></li>
        <li><%= link_to I18n.t('views.nav.other'), new_candidate_import_path %></li>
        <% if defined?(resource) && (!resource.nil?) && (!resource.new_record?) && (resource.is_a? Candidate) %>
            <p class="sidebar-header no-link">Candidate: <%= "#{resource.first_name} #{resource.last_name}" %></p>

            <li><%= link_to "#{I18n.t('views.nav.sign_agreement')} #{resource.first_name} #{resource.last_name}", sign_agreement_path(resource.id) %></li>
            <li><%= link_to "#{I18n.t('views.nav.candidate_sheet')} #{resource.first_name} #{resource.last_name}", candidate_sheet_path(resource.id) %></li>
            <li><%= link_to "#{I18n.t('views.nav.upload_baptismal_certificate')} #{resource.first_name} #{resource.last_name}", event_with_picture_path(resource.id, Event::Route::UPLOAD_BAPTISMAL_CERTIFICATE) %></li>
            <li><%= link_to "#{I18n.t('views.nav.sponsor_covenant')} #{resource.first_name} #{resource.last_name}", event_with_picture_path(resource.id, Event::Route::UPLOAD_SPONSOR_COVENANT) %></li>
            <li><%= link_to "#{I18n.t('views.nav.pick_confirmation_name')} #{resource.first_name} #{resource.last_name}", event_with_picture_path(resource.id, Event::Route::PICK_CONFIRMATION_NAME) %></li>
            <li><%= link_to "#{I18n.t('views.nav.sponsor_agreement')} #{resource.first_name} #{resource.last_name}", sponsor_agreement_path(resource.id) %></li>
            <li><%= link_to "#{I18n.t('views.nav.christian_ministry')} #{resource.first_name} #{resource.last_name}", event_with_picture_path(resource.id, Event::Route::CHRISTIAN_MINISTRY) %></li>

            <li><%= link_to "#{I18n.t('views.nav.edit')} #{resource.first_name} #{resource.last_name}", edit_candidate_path(resource.id) %></li>
            <li><%= link_to "#{I18n.t('views.nav.events')} #{resource.first_name} #{resource.last_name}", event_candidate_path(resource.id) %></li>
        <% end %>
    <% end %>
<% end %>

<% if candidate_signed_in? %>

    <li><%= link_to "#{I18n.t('views.nav.sign_agreement')}", dev_sign_agreement_path(current_candidate.id) %></li>
    <li><%= link_to "#{I18n.t('views.nav.candidate_sheet')}", dev_candidate_sheet_path(current_candidate.id) %></li>
    <li><%= link_to "#{I18n.t('views.nav.upload_baptismal_certificate')}", dev_event_with_picture_path(current_candidate.id, Event::Route::UPLOAD_BAPTISMAL_CERTIFICATE) %></li>
    <li><%= link_to "#{I18n.t('views.nav.sponsor_covenant')}", dev_event_with_picture_path(current_candidate.id, Event::Route::UPLOAD_SPONSOR_COVENANT) %></li>
    <li><%= link_to "#{I18n.t('views.nav.pick_confirmation_name')}", dev_event_with_picture_path(current_candidate.id, Event::Route::PICK_CONFIRMATION_NAME) %></li>
    <li><%= link_to "#{I18n.t('views.nav.sponsor_agreement')}", dev_sponsor_agreement_path(current_candidate.id) %></li>
    <li><%= link_to "#{I18n.t('views.nav.christian_ministry')}", dev_event_with_picture_path(current_candidate.id, Event::Route::CHRISTIAN_MINISTRY) %></li>

    <li><%= link_to "#{I18n.t('views.nav.edit')}", edit_candidate_registration_path %></li>
    <li><%= link_to "#{I18n.t('views.nav.events')}", event_candidate_registration_path(current_candidate.id) %></li>
<% end %>