<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Confirmation" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Confirmation" %>">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= render 'application/favicon' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
      $(document).ready(function () {
          console.log('doc ready');
          // $("#sidebar").mCustomScrollbar({
          //     theme: "minimal"
          // });

          $('#dismiss, .overlay').on('click', function () {
              // hide sidebar
              $('#sidebar').removeClass('active');
              // hide overlay
              $('.overlay').removeClass('active');
          });

          $('#sidebarCollapse').on('click', function () {
              var sidebar = $('#sidebar');
              if (sidebar.hasClass('active')) {
                  // open sidebar
                  sidebar.removeClass('active');
                  // fade in the overlay
                  $('.overlay').removeClass('active');
                  $('.collapse.in').toggleClass('in');
                  $('a[aria-expanded=true]').attr('aria-expanded', 'true');
              } else {
                  // open sidebar
                  sidebar.addClass('active');
                  // fade in the overlay
                  $('.overlay').addClass('active');
                  $('.collapse.in').toggleClass('in');
                  $('a[aria-expanded=true]').attr('aria-expanded', 'false');
              }
          });
      });
  </script>
</head>
<body>
<header>
  <%= render 'layouts/navigation' %>
</header>
<%= render 'layouts/messages' %>
<div class="container-fluid">
  <div class="row min-vh-100">

    <!-- Sidebar -->
    <aside class="col-10 col-md-2 p-0 bg-dark">
      <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start py-2">
        <div class="collapse navbar-collapse">

          <div id="sidebar-header" class="sidebar-header" style="color:red">
            <% if admin_signed_in? %>
              <h6 id="admin" class="sidebar-header no-link"><%= "#{t('views.admins.admin')}: #{current_admin.name}" %></h6>
            <% end %>
            <% if candidate_signed_in? %>
              <h6 id="candidate" class="sidebar-header no-link"><%= "#{t('views.candidates.candidate')}: #{current_candidate.account_name}" %></h6>
            <% end %>
          </div>
          <%= render 'layouts/side_bar' %>
        </div>
      </nav>
    </aside>
    <!-- /#sidebar-wrapper -->

    <main role="main">
      <!-- Page Content -->
      <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

            <%= yield %>
          </div>
        </nav>
      </div>
    </main>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->
</div>
</body>
</html>
