<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Confirmation" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Confirmation" %>">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <%= render 'layouts/navigation' %>
</header>
<main role="main">
  <%= render 'layouts/messages' %>
  <div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <header>
        <% if admin_signed_in? %>
            <p class="sidebar-header no-link">Admin: <%= "#{current_admin.name}" %></p>
        <% end %>
        <% if candidate_signed_in? %>
            <p class="sidebar-header no-link">Candidate: <%= "#{current_candidate.account_name}" %></p>
        <% end %>

      </header>

      <ul class="sidebar-nav">
        <%= render 'layouts/side_bar' %>
      </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <%= link_to '#', class: 'btn btn-default menu-toggle', id: "menu-toggle", onclick: 'confirmation_toggle().sidebar(event, this)', data: {name: 'show'} do %>
                <span id="menu-toggle-span">&laquo;</span>
            <% end %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

</main>
</body>
</html>
